# Load Orders.csv

In [64]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [65]:
pip install requests

Requirement already satisfied: requests in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

In [66]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mouba\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\mouba\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [67]:
pip install disutils

Requirement already satisfied: disutils in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (1.4.32.post2)
Requirement already satisfied: aiohttp in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from disutils) (3.11.10)
Requirement already satisfied: asyncio in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from disutils) (3.4.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from aiohttp->disutils) (1.18.3)
Requirement already satisfied: idna>=2.0 in c:\users\mouba\appdata\local\programs\python\python312\lib\site-packages (from yarl<2.0,>=1.17.0->aiohttp->disutils) (3.10)
Note: you may need to restart the kernel to use updated packages.

In [68]:
pip install python3-distutils

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement python3-distutils (from versions: none)
ERROR: No matching distribution found for python3-distutils

In [69]:
import os
from pyspark.sql import SparkSession
import requests

# Crear la sesiÃ³n de Spark
spark = SparkSession.builder.appName("Spark").getOrCreate()

# URL del archivo CSV
url = "https://raw.githubusercontent.com/Digital-IFCO/data-engineering-test/refs/heads/main/resources/orders.csv"

# Descargar el archivo CSV a una ubicaciÃ³n local
csv_path = os.path.join(os.getcwd(), "orders.csv")
response = requests.get(url)
if response.status_code == 200:
    with open(csv_path, 'wb') as f:
        f.write(response.content)
    print(f"Archivo descargado en: {csv_path}")
else:
    print(f"Error al descargar el archivo. CÃ³digo de estado: {response.status_code}")
    exit()

# Leer el archivo CSV directamente como un DataFrame de Spark, con el delimitador correcto
orders_df = spark.read.csv(csv_path, sep=';', header=True, inferSchema=True)

# Mostrar las primeras filas del DataFrame de Spark
orders_df.show(10, truncate=False)

Archivo descargado en: c:\Users\mouba\Desktop\orders.csv
+------------------------------------+--------+------------------------------------+---------------------+----------+---------------------------------------------------------------------------------------------------------------+------------------------------------------------------------+
|order_id                            |date    |company_id                          |company_name         |crate_type|contact_data                                                                                                   |salesowners                                                 |
+------------------------------------+--------+------------------------------------+---------------------+----------+---------------------------------------------------------------------------------------------------------------+------------------------------------------------------------+
|f47ac10b-58cc-4372-a567-0e02b2c3d479|29.01.22|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|Fresh Fruits Co      |Plastic   |"[{ ""contact_name"":""Curtis"", ""contact_surname"":""Jackson"", ""city"":""Chicago"", ""cp"": ""12345""}]"   |Leonard Cohen, Luke Skywalker, Ammy Winehouse               |
|f47ac10b-58cc-4372-a567-0e02b2c3d480|21.02.22|0f05a8f1-2bdf-4be7-8c82-4c9b58f04898|Veggies Inc          |Wood      |"[{ ""contact_name"":""Maria"", ""contact_surname"":""Theresa"", ""city"":""Calcutta""}]"                      |Luke Skywalker, David Goliat, Leon Leonov                   |
|f47ac10b-58cc-4372-a567-0e02b2c3d481|03.04.22|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|Fresh Fruits c.o     |Metal     |"[{ ""contact_name"":""Para"", ""contact_surname"":""Cetamol"", ""city"":""Frankfurt am Oder"", ""cp"": 3934}]"|Luke Skywalker                                              |
|f47ac10b-58cc-4372-a567-0e02b2c3d482|14.07.21|1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6|Seafood Supplier     |Plastic   |NULL                                                                                                           |David Goliat, Leonard Cohen                                 |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|23.10.22|34538e39-cd2e-4641-8d24-3c94146e6f16|Meat Packers Ltd     |Plastic   |NULL                                                                                                           |Chris Pratt, David Henderson, Marianov Merschik, Leon Leonov|
|f47ac10b-58cc-4372-a567-0e02b2c3d484|15.05.22|fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b|Green Veg Co         |Wood      |"[{ ""contact_name"":""John"", ""contact_surname"":""Krasinski"", ""city"":""New York"", ""cp"": ""1203""}]"   |Leonard Cohen, David Henderson                              |
|f47ac10b-58cc-4372-a567-0e02b2c3d485|31.12.22|2e90f2b1-d237-47a6-96e8-6d01c0d78c3e|Seafood Supplier GmbH|Metal     |NULL                                                                                                           |Markus SÃ¶der, Ammy Winehouse                                |
|f47ac10b-58cc-4372-a567-0e02b2c3d486|01.04.22|acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9|Organic Farms        |Metal     |"[{ ""contact_name"":""Jennifer"", ""contact_surname"":""Lopez"", ""city"":""Esplugues de Llobregat""}]"       |David Henderson, Leonard Cohen, Leon Leonov                 |
|f47ac10b-58cc-4372-a567-0e02b2c3d487|04.09.22|5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d|Tropical Fruits Ltd  |Plastic   |"{ ""contact_name"":""Liav"", ""contact_surname"": ""Ichenbaum"", ""city"":""Tel Aviv""}"                      |Yuri Gagarin, David Goliat, David Henderson                 |
|f47ac10b-58cc-4372-a567-0e02b2c3d488|07.11.22|27c59f76-5d26-4b82-a89b-59f8dfd2e9a7|Healthy Snacks       |Plastic   |"[{ ""contact_name"":""Curtis"", ""contact_surname"":""Jackson"", ""city"":""Chicago"", ""cp"": ""12345""}]"   |Ammy Winehouse, Marie Curie, Chris Pratt                    |
+------------------------------------+--------+------------------------------------+---------------------+----------+---------------------------------------------------------------------------------------------------------------+------------------------------------------------------------+
only showing top 10 rows

In [70]:
# Since contact_data is a nested column, let's explore it
orders_df.select("contact_data").show(10, truncate=False)

+---------------------------------------------------------------------------------------------------------------+
|contact_data                                                                                                   |
+---------------------------------------------------------------------------------------------------------------+
|"[{ ""contact_name"":""Curtis"", ""contact_surname"":""Jackson"", ""city"":""Chicago"", ""cp"": ""12345""}]"   |
|"[{ ""contact_name"":""Maria"", ""contact_surname"":""Theresa"", ""city"":""Calcutta""}]"                      |
|"[{ ""contact_name"":""Para"", ""contact_surname"":""Cetamol"", ""city"":""Frankfurt am Oder"", ""cp"": 3934}]"|
|NULL                                                                                                           |
|NULL                                                                                                           |
|"[{ ""contact_name"":""John"", ""contact_surname"":""Krasinski"", ""city"":""New York"", ""cp"": ""1203""}]"   |
|NULL                                                                                                           |
|"[{ ""contact_name"":""Jennifer"", ""contact_surname"":""Lopez"", ""city"":""Esplugues de Llobregat""}]"       |
|"{ ""contact_name"":""Liav"", ""contact_surname"": ""Ichenbaum"", ""city"":""Tel Aviv""}"                      |
|"[{ ""contact_name"":""Curtis"", ""contact_surname"":""Jackson"", ""city"":""Chicago"", ""cp"": ""12345""}]"   |
+---------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [71]:
from pyspark.sql.functions import regexp_replace, col, ArrayType, StructType, from_json
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

# Step 1: Replace escaped double quotes
orders_df = orders_df.withColumn("contact_data", 
                                 regexp_replace(col("contact_data"), r'""', '"'))

# Step 2: Replace the quotes at the beginning and end of the JSON string that might be incorrect
orders_df = orders_df.withColumn("contact_data", 
                                 regexp_replace(col("contact_data"), r'^"|"$', '')) 

# Step 3: Check if the changes to contact_data are correct
orders_df.select("contact_data").show(10, truncate=False)  # Display the first 10 rows of the 'contact_data' column to verify

# Step 4: Define the schema for contact_data
contact_data_schema = ArrayType(
    StructType([  # Define an array of structures for 'contact_data'
        StructField("contact_name", StringType(), True),  # 'contact_name' field of type String
        StructField("contact_surname", StringType(), True),  # 'contact_surname' field of type String
        StructField("city", StringType(), True),  # 'city' field of type String
        StructField("cp", StringType(), True)  # 'cp' field of type String
    ])
)

+-----------------------------------------------------------------------------------------------+
|contact_data                                                                                   |
+-----------------------------------------------------------------------------------------------+
|[{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]     |
|[{ "contact_name":"Maria", "contact_surname":"Theresa", "city":"Calcutta"}]                    |
|[{ "contact_name":"Para", "contact_surname":"Cetamol", "city":"Frankfurt am Oder", "cp": 3934}]|
|NULL                                                                                           |
|NULL                                                                                           |
|[{ "contact_name":"John", "contact_surname":"Krasinski", "city":"New York", "cp": "1203"}]     |
|NULL                                                                                           |
|[{ "contact_name":"Jennifer", "contact_surname":"Lopez", "city":"Esplugues de Llobregat"}]     |
|{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}                    |
|[{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]     |
+-----------------------------------------------------------------------------------------------+
only showing top 10 rows

In [72]:
# Step 5: Parse the 'contact_data' column using the defined schema
orders_df = orders_df.withColumn("parsed_contact_data", from_json(col("contact_data"), contact_data_schema))  
# This step parses the 'contact_data' column into a structured format according to the defined schema

# Step 6: Verify the results of the parsing
orders_df.select("contact_data", "parsed_contact_data").show(10, truncate=False)  

# Display the original 'contact_data' and the parsed 'parsed_contact_data' columns for the first 10 rows to verify the parsing

+-----------------------------------------------------------------------------------------------+-------------------------------------------------+
|contact_data                                                                                   |parsed_contact_data                              |
+-----------------------------------------------------------------------------------------------+-------------------------------------------------+
|[{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]     |[{Curtis, Jackson, Chicago, 12345}]              |
|[{ "contact_name":"Maria", "contact_surname":"Theresa", "city":"Calcutta"}]                    |[{Maria, Theresa, Calcutta, NULL}]               |
|[{ "contact_name":"Para", "contact_surname":"Cetamol", "city":"Frankfurt am Oder", "cp": 3934}]|[{Para, Cetamol, Frankfurt am Oder, 3934}]       |
|NULL                                                                                           |NULL                                             |
|NULL                                                                                           |NULL                                             |
|[{ "contact_name":"John", "contact_surname":"Krasinski", "city":"New York", "cp": "1203"}]     |[{John, Krasinski, New York, 1203}]              |
|NULL                                                                                           |NULL                                             |
|[{ "contact_name":"Jennifer", "contact_surname":"Lopez", "city":"Esplugues de Llobregat"}]     |[{Jennifer, Lopez, Esplugues de Llobregat, NULL}]|
|{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}                    |[{Liav, Ichenbaum, Tel Aviv, NULL}]              |
|[{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]     |[{Curtis, Jackson, Chicago, 12345}]              |
+-----------------------------------------------------------------------------------------------+-------------------------------------------------+
only showing top 10 rows

The explode function is avoided as it doesn't handle empty rows in contact_data properly. Filtering rows before applying explode was considered, but using when with explode is not feasible.

In [73]:
from pyspark.sql import functions as F

# Step 7: Extract the first value from the arrays (in case there's only one value)
orders_df = orders_df.select(
    "order_id",  # Select the order_id column
    "date",  # Select the date column
    "company_id",  # Select the company_id column
    "company_name",  # Select the company_name column
    "crate_type",  # Select the crate_type column
    F.col("parsed_contact_data.contact_name")[0].alias("contact_name"),  # Extract the first contact_name from the array
    F.col("parsed_contact_data.contact_surname")[0].alias("contact_surname"),  # Extract the first contact_surname from the array
    F.col("parsed_contact_data.city")[0].alias("contact_city"),  # Extract the first city from the array
    F.col("parsed_contact_data.cp")[0].alias("contact_cp"),  # Extract the first cp (postal code) from the array
    "salesowners"  # Select the salesowners column
)

# Step 8: Display the result
orders_df.show(100)  # Show the first 100 rows of the transformed dataframe

+--------------------+--------+--------------------+--------------------+----------+------------+---------------+--------------------+----------+--------------------+
|            order_id|    date|          company_id|        company_name|crate_type|contact_name|contact_surname|        contact_city|contact_cp|         salesowners|
+--------------------+--------+--------------------+--------------------+----------+------------+---------------+--------------------+----------+--------------------+
|f47ac10b-58cc-437...|29.01.22|1e2b47e6-499e-41c...|     Fresh Fruits Co|   Plastic|      Curtis|        Jackson|             Chicago|     12345|Leonard Cohen, Lu...|
|f47ac10b-58cc-437...|21.02.22|0f05a8f1-2bdf-4be...|         Veggies Inc|      Wood|       Maria|        Theresa|            Calcutta|      NULL|Luke Skywalker, D...|
|f47ac10b-58cc-437...|03.04.22|1e2b47e6-499e-41c...|    Fresh Fruits c.o|     Metal|        Para|        Cetamol|   Frankfurt am Oder|      3934|      Luke Skywalker|
|f47ac10b-58cc-437...|14.07.21|1c4b0b50-1d5d-463...|    Seafood Supplier|   Plastic|        NULL|           NULL|                NULL|      NULL|David Goliat, Leo...|
|f47ac10b-58cc-437...|23.10.22|34538e39-cd2e-464...|    Meat Packers Ltd|   Plastic|        NULL|           NULL|                NULL|      NULL|Chris Pratt, Davi...|
|f47ac10b-58cc-437...|15.05.22|fa14c3ed-3c48-49f...|        Green Veg Co|      Wood|        John|      Krasinski|            New York|      1203|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|31.12.22|2e90f2b1-d237-47a...|Seafood Supplier ...|     Metal|        NULL|           NULL|                NULL|      NULL|Markus SÃ¶der, Amm...|
|f47ac10b-58cc-437...|01.04.22|acdb6f30-764f-404...|       Organic Farms|     Metal|    Jennifer|          Lopez|Esplugues de Llob...|      NULL|David Henderson, ...|
|f47ac10b-58cc-437...|04.09.22|5f0bdbdf-1d84-4c2...| Tropical Fruits Ltd|   Plastic|        Liav|      Ichenbaum|            Tel Aviv|      NULL|Yuri Gagarin, Dav...|
|f47ac10b-58cc-437...|07.11.22|27c59f76-5d26-4b8...|      Healthy Snacks|   Plastic|      Curtis|        Jackson|             Chicago|     12345|Ammy Winehouse, M...|
|f47ac10b-58cc-437...|09.07.22|20dfef10-8f4e-45a...| healthy snacks c.o.|      Wood|     Anthony|            Pap|           Barcelona|      8023|Marianov Merschik...|
|f47ac10b-58cc-437...|18.06.22|4a98d9ec-65f6-438...|   Fresh Berries Inc|   Plastic|     Natalia|        Romanov|              Moscow|     65432|Leonard Cohen, Am...|
|f47ac10b-58cc-437...|12.08.22|f3b70f8d-bb74-4d9...|    Meat Express Ltd|     Metal|       Bruce|          Wayne|              Gotham|      NULL|Chris Pratt, Mari...|
|f47ac10b-58cc-437...|22.09.22|83df789a-b30c-4a1...|   Tropical Fresh Co|      Wood|       Clark|           Kent|          Metropolis|     10001|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|27.10.22|9b31b19f-69a2-4ae...|   Veggies Unlimited|   Plastic|        NULL|           NULL|                NULL|      NULL|Leon Leonov, Ammy...|
|f47ac10b-58cc-437...|15.11.22|d4e31b02-ea50-46b...|   Global Seafood Co|     Metal|        Tony|          Stark|            New York|      NULL|Yuri Gagarin, Leo...|
|f47ac10b-58cc-437...|28.12.22|5c17d142-4b21-429...|     Fresh Farms Ltd|      Wood|       Diana|         Prince|          Themyscira|     45789|David Goliat, Chr...|
|f47ac10b-58cc-437...|02.01.23|2b42dcb7-bc74-4e5...|   Healthy Greens Co|   Plastic|       Peter|         Parker|              Queens|     11432|Leonard Cohen, Am...|
|f47ac10b-58cc-437...|19.02.23|6d3f48b2-4e3c-49d...| Fruits & Veggies Co|      Wood|       Steve|         Rogers|            Brooklyn|     11201|Chris Pratt, Yuri...|
|f47ac10b-58cc-437...|11.03.23|1f06b236-f6b5-4f4...|     Green Farms Inc|     Metal|     Natasha|        Romanov|              Moscow|     65432|Ammy Winehouse, L...|
|f47ac10b-58cc-437...|05.04.23|7d4b212e-29e5-4f2...| Organic Veggies Ltd|   Plastic|       Bruce|         Banner|       San Francisco|     94102|David Henderson, ...|
|f47ac10b-58cc-437...|08.05.23|8f1c5d4a-9045-4be...|       Farm Fresh Co|     Metal|      Selina|           Kyle|              Gotham|      NULL|Chris Pratt, Leon...|
|f47ac10b-58cc-437...|12.06.23|a32972e9-d9ad-418...|     Seafood Express|   Plastic|       Barry|          Allen|        Central City|     56321|Leonard Cohen, Yu...|
|f47ac10b-58cc-437...|24.07.23|9e25a3d7-46b8-4c9...| Healthy Organics Co|      Wood|       Clark|           Kent|          Metropolis|      NULL|Ammy Winehouse, L...|
|f47ac10b-58cc-437...|16.08.23|012f20c6-00d5-4f4...|     Green World Ltd|   Plastic|        NULL|           NULL|                NULL|      NULL|David Goliat, Chr...|
|f47ac10b-58cc-437...|02.09.23|f31b4d26-5083-4b7...|   Fresh Veggies Inc|     Metal|       Diana|         Prince|          Themyscira|     45789|Marie Curie, Yuri...|
|f47ac10b-58cc-437...|14.10.23|063a7dc7-b93a-4f3...|     Fruit Kings Ltd|      Wood|       Bruce|          Wayne|              Gotham|      NULL|Leon Leonov, Davi...|
|f47ac10b-58cc-437...|29.11.23|7f80fdd9-1c1a-4ad...|     Veggie Haven Co|   Plastic|       Steve|         Rogers|            Brooklyn|      NULL|Leonard Cohen, Am...|
|f47ac10b-58cc-437...|07.12.23|992c1e6e-7740-411...|  Seafood Global Inc|     Metal|       Peter|         Parker|              Queens|     11432|David Henderson, ...|
|f47ac10b-58cc-437...|19.01.24|8347edb3-c4e5-4fc...|   Organic Foods Ltd|      Wood|        NULL|           NULL|                NULL|      NULL|Leonard Cohen, Ch...|
|f47ac10b-58cc-437...|30.01.24|0d09ae2b-d9a5-4d6...|    Healthy Eats Ltd|   Plastic|        Tony|          Stark|            New York|      NULL|Ammy Winehouse, Y...|
|f47ac10b-58cc-437...|13.02.24|4a7561b1-1de1-420...|     Farms Global Co|     Metal|     Natalia|        Romanov|              Moscow|     65432|David Goliat, Leo...|
|f47ac10b-58cc-437...|05.03.24|4c0e716f-c8b1-4ad...| Veggie Partners Ltd|      Wood|       Bruce|         Banner|       San Francisco|     94102|Chris Pratt, Leon...|
|f47ac10b-58cc-437...|27.03.24|9851fa89-7b7a-4ed...|    Fruit Market Ltd|   Plastic|      Curtis|        Jackson|             Chicago|     12345|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|10.04.24|c672f19b-f08b-4e1...|  Global Veggies Inc|     Metal|       Maria|        Theresa|            Calcutta|      NULL|Chris Pratt, Yuri...|
|f47ac10b-58cc-437...|21.05.24|0b8755d4-3d28-403...| Seafood Network Ltd|      Wood|        NULL|           NULL|                NULL|      NULL|David Goliat, Leo...|
|f47ac10b-58cc-437...|12.06.24|2122bb43-1a5e-4f8...|      Farm Fresh Ltd|   Plastic|       Diana|         Prince|          Themyscira|     45789|Leonard Cohen, Ma...|
|f47ac10b-58cc-437...|03.07.24|f712dc3d-4681-4ec...|    Green Organic Co|     Metal|       Bruce|          Wayne|              Gotham|      NULL|Leon Leonov, Chri...|
|f47ac10b-58cc-437...|15.08.24|6cbfd9da-14d3-4a5...|  Tropical Farms Ltd|      Wood|       Steve|         Rogers|            Brooklyn|     11201|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|28.09.24|d66c0c95-1f86-4d5...|  Healthy Choices Co|   Plastic|       Peter|         Parker|              Queens|     11432|Ammy Winehouse, L...|
|f47ac10b-58cc-437...|09.10.24|1b21f4a3-22d2-43f...|        Fresh Veg Co|     Metal|        NULL|           NULL|                NULL|      NULL|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|17.11.24|1e2b47e6-499e-41c...|     Fresh Fruits Co|   Plastic|      Curtis|        Jackson|             Chicago|     12345|Leonard Cohen, Lu...|
|f47ac10b-58cc-437...|12.12.24|0f05a8f1-2bdf-4be...|         Veggies Inc|      Wood|       Maria|        Theresa|            Calcutta|      NULL|David Goliat, Luk...|
|f47ac10b-58cc-437...|03.01.25|1e2b47e6-499e-41c...|     Fresh Fruits Co|     Metal|        Para|        Cetamol|   Frankfurt am Oder|      3934|Luke Skywalker, A...|
|f47ac10b-58cc-437...|25.01.25|1c4b0b50-1d5d-463...|    Seafood Supplier|   Plastic|        NULL|           NULL|                NULL|      NULL|David Goliat, Leo...|
|f47ac10b-58cc-437...|02.02.25|34538e39-cd2e-464...|    Meat Packers Ltd|   Plastic|        NULL|           NULL|                NULL|      NULL|Chris Pratt, Davi...|
|f47ac10b-58cc-437...|19.02.25|fa14c3ed-3c48-49f...|        Green Veg Co|      Wood|        John|      Krasinski|            New York|      1203|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|27.02.25|2e90f2b1-d237-47a...|Seafood Supplier ...|     Metal|        NULL|           NULL|                NULL|      NULL|Markus SÃ¶der, Amm...|
|f47ac10b-58cc-437...|03.03.25|acdb6f30-764f-404...|       Organic Farms|     Metal|    Jennifer|          Lopez|Esplugues de Llob...|      NULL|David Henderson, ...|
|f47ac10b-58cc-437...|12.03.25|5f0bdbdf-1d84-4c2...| Tropical Fruits Ltd|   Plastic|        Liav|      Ichenbaum|            Tel Aviv|      NULL|Yuri Gagarin, Dav...|
|f47ac10b-58cc-437...|21.03.25|27c59f76-5d26-4b8...|      Healthy Snacks|   Plastic|      Curtis|        Jackson|             Chicago|     12345|Ammy Winehouse, M...|
|f47ac10b-58cc-437...|29.03.25|20dfef10-8f4e-45a...|   Healthy Snacks Co|      Wood|     Anthony|            Pap|           Barcelona|      8023|Marianov Merschik...|
|f47ac10b-58cc-437...|07.04.25|1e2b47e6-499e-41c...|     Fresh Fruits Co|     Metal|        NULL|           NULL|                NULL|      NULL|David Henderson, ...|
|f47ac10b-58cc-437...|12.04.25|0f05a8f1-2bdf-4be...|         Veggies Inc|   Plastic|        NULL|           NULL|                NULL|      NULL|Leonard Cohen, Lu...|
|f47ac10b-58cc-437...|16.04.25|34538e39-cd2e-464...|    Meat Packers Ltd|   Plastic|        NULL|           NULL|                NULL|      NULL|Chris Pratt, Davi...|
|f47ac10b-58cc-437...|30.04.25|1c4b0b50-1d5d-463...|    Seafood Supplier|   Plastic|        NULL|           NULL|                NULL|      NULL|Leonard Cohen, Da...|
|f47ac10b-58cc-437...|06.05.25|fa14c3ed-3c48-49f...|        Green Veg Co|      Wood|        John|      Krasinski|            New York|      1203|David Henderson, ...|
|f47ac10b-58cc-437...|11.05.25|5f0bdbdf-1d84-4c2...| Tropical Fruits Ltd|     Metal|        NULL|           NULL|                NULL|      NULL|Yuri Gagarin, Dav...|
|f47ac10b-58cc-437...|20.05.25|acdb6f30-764f-404...|       Organic Farms|   Plastic|    Jennifer|          Lopez|Esplugues de Llob...|      NULL|Leon Leonov, Chri...|
|f47ac10b-58cc-437...|27.05.25|2e90f2b1-d237-47a...|Seafood Supplier ...|     Metal|        NULL|           NULL|                NULL|      NULL|Ammy Winehouse, L...|
|f47ac10b-58cc-437...|04.06.25|fa14c3ed-3c48-49f...|        Green Veg Co|   Plastic|        NULL|           NULL|                NULL|      NULL|Luke Skywalker, C...|
|f47ac10b-58cc-437...|15.06.25|1e2b47e6-499e-41c...|     Fresh Fruits Co|      Wood|      Curtis|        Jackson|             Chicago|     12345|Leonard Cohen, Am...|
+--------------------+--------+--------------------+--------------------+----------+------------+---------------+--------------------+----------+--------------------+

##### Export orders_df.csv

In [90]:
import os
import pandas as pd

desktop_path = os.path.join(os.path.expanduser("~"), "Desktop", "orders_df.csv")

orders_df_export = orders_df.toPandas()
orders_df_export.to_csv(desktop_path, index=False, encoding="utf-8")

# Load Invoicing_data.json

In [75]:
# URL del archivo JSON
url = "https://raw.githubusercontent.com/Digital-IFCO/data-engineering-test/refs/heads/main/resources/invoicing_data.json"

# Descargar el archivo JSON a una ubicaciÃ³n local
json_path = os.path.join(os.getcwd(), "invoicing_data.json")
response = requests.get(url)
if response.status_code == 200:
    with open(json_path, 'wb') as f:
        f.write(response.content)
    print(f"Archivo descargado en: {json_path}")
else:
    print(f"Error al descargar el archivo. CÃ³digo de estado: {response.status_code}")
    exit()

# Leer el archivo JSON directamente como un DataFrame de Spark
invoicing_df = spark.read.option("multiline", "true").json(json_path)

# Inspect the structure of the DataFrame by printing its schema
invoicing_df.printSchema()

# Mostrar las primeras filas del DataFrame de Spark
invoicing_df.show(10, truncate=False)

Archivo descargado en: c:\Users\mouba\Desktop\invoicing_data.json
root
 |-- data: struct (nullable = true)
 |    |-- invoices: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- companyId: string (nullable = true)
 |    |    |    |-- grossValue: string (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- orderId: string (nullable = true)
 |    |    |    |-- vat: string (nullable = true)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|data                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{[{1e2b47e6-499e-41c6-91d3-09d12dddfbbd, 324222, e1e1e1e1-e1e1-e1e1-e1e1-e1e1e1e1e1e1, f47ac10b-58cc-4372-a567-0e02b2c3d479, 0}, {0f05a8f1-2bdf-4be7-8c82-4c9b58f04898, 193498, e2e2e2e2-e2e2-e2e2-e2e2-e2e2e2e2e2e2, f47ac10b-58cc-4372-a567-0e02b2c3d480, 19}, {1e2b47e6-499e-41c6-91d3-09d12dddfbbd, 345498, e3e3e3e3-e3e3-e3e3-e3e3-e3e3e3e3e3e3, f47ac10b-58cc-4372-a567-0e02b2c3d481, 21}, {1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6, 245412, e4e4e4e4-e4e4-e4e4-e4e4-e4e4e4e4e4e4, f47ac10b-58cc-4372-a567-0e02b2c3d482, 34}, {34538e39-cd2e-4641-8d24-3c94146e6f16, 145467, e5e5e5e5-e5e5-e5e5-e5e5-e5e5e5e5e5e5, f47ac10b-58cc-4372-a567-0e02b2c3d483, 0}, {fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b, 581530, e6e6e6e6-e6e6-e6e6-e6e6-e6e6e6e6e6e6, f47ac10b-58cc-4372-a567-0e02b2c3d484, 19}, {2e90f2b1-d237-47a6-96e8-6d01c0d78c3e, 45100, e7e7e7e7-e7e7-e7e7-e7e7-e7e7e7e7e7e7, f47ac10b-58cc-4372-a567-0e02b2c3d485, 19}, {acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9, 565210, e8e8e8e8-e8e8-e8e8-e8e8-e8e8e8e8e8e8, f47ac10b-58cc-4372-a567-0e02b2c3d486, 21}, {5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d, 345310, e9e9e9e9-e9e9-e9e9-e9e9-e9e9e9e9e9e9, f47ac10b-58cc-4372-a567-0e02b2c3d487, 34}, {5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d, 345310, ea9ea9ea-9ea9-9ea9-9ea9-9ea9ea9ea9ea, f47ac10b-58cc-4372-a567-0e02b2c3d487, 34}, {27c59f76-5d26-4b82-a89b-59f8dfd2e9a7, 341315, eb0eb0eb-0eb0-0eb0-0eb0-0eb0eb0eb0eb, f47ac10b-58cc-4372-a567-0e02b2c3d488, 21}, {20dfef10-8f4e-45a1-82fc-123f4ab2a4a5, 291315, ec1ec1ec-1ec1-1ec1-1ec1-1ec1ec1ec1ec, f47ac10b-58cc-4372-a567-0e02b2c3d489, 0}]}|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [76]:
# Access the 'invoices' array inside the 'data' field and explode it into separate rows
invoicing_df = invoicing_df.selectExpr("data.invoices as invoices").selectExpr("explode(invoices) as invoice")

# Flatten the structure to access the fields directly from the 'invoice' object
invoicing_df = invoicing_df.select("invoice.*")

# Display the resulting DataFrame without truncating values
invoicing_df.show(truncate=False)

+------------------------------------+----------+------------------------------------+------------------------------------+---+
|companyId                           |grossValue|id                                  |orderId                             |vat|
+------------------------------------+----------+------------------------------------+------------------------------------+---+
|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|324222    |e1e1e1e1-e1e1-e1e1-e1e1-e1e1e1e1e1e1|f47ac10b-58cc-4372-a567-0e02b2c3d479|0  |
|0f05a8f1-2bdf-4be7-8c82-4c9b58f04898|193498    |e2e2e2e2-e2e2-e2e2-e2e2-e2e2e2e2e2e2|f47ac10b-58cc-4372-a567-0e02b2c3d480|19 |
|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|345498    |e3e3e3e3-e3e3-e3e3-e3e3-e3e3e3e3e3e3|f47ac10b-58cc-4372-a567-0e02b2c3d481|21 |
|1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6|245412    |e4e4e4e4-e4e4-e4e4-e4e4-e4e4e4e4e4e4|f47ac10b-58cc-4372-a567-0e02b2c3d482|34 |
|34538e39-cd2e-4641-8d24-3c94146e6f16|145467    |e5e5e5e5-e5e5-e5e5-e5e5-e5e5e5e5e5e5|f47ac10b-58cc-4372-a567-0e02b2c3d483|0  |
|fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b|581530    |e6e6e6e6-e6e6-e6e6-e6e6-e6e6e6e6e6e6|f47ac10b-58cc-4372-a567-0e02b2c3d484|19 |
|2e90f2b1-d237-47a6-96e8-6d01c0d78c3e|45100     |e7e7e7e7-e7e7-e7e7-e7e7-e7e7e7e7e7e7|f47ac10b-58cc-4372-a567-0e02b2c3d485|19 |
|acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9|565210    |e8e8e8e8-e8e8-e8e8-e8e8-e8e8e8e8e8e8|f47ac10b-58cc-4372-a567-0e02b2c3d486|21 |
|5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d|345310    |e9e9e9e9-e9e9-e9e9-e9e9-e9e9e9e9e9e9|f47ac10b-58cc-4372-a567-0e02b2c3d487|34 |
|5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d|345310    |ea9ea9ea-9ea9-9ea9-9ea9-9ea9ea9ea9ea|f47ac10b-58cc-4372-a567-0e02b2c3d487|34 |
|27c59f76-5d26-4b82-a89b-59f8dfd2e9a7|341315    |eb0eb0eb-0eb0-0eb0-0eb0-0eb0eb0eb0eb|f47ac10b-58cc-4372-a567-0e02b2c3d488|21 |
|20dfef10-8f4e-45a1-82fc-123f4ab2a4a5|291315    |ec1ec1ec-1ec1-1ec1-1ec1-1ec1ec1ec1ec|f47ac10b-58cc-4372-a567-0e02b2c3d489|0  |
+------------------------------------+----------+------------------------------------+------------------------------------+---+

In [77]:
# Remove duplicate rows based on the 'orderID' column
invoicing_df = invoicing_df.dropDuplicates(["orderID"])

# Display the resulting DataFrame without truncating values
invoicing_df.show(truncate=False)

+------------------------------------+----------+------------------------------------+------------------------------------+---+
|companyId                           |grossValue|id                                  |orderId                             |vat|
+------------------------------------+----------+------------------------------------+------------------------------------+---+
|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|324222    |e1e1e1e1-e1e1-e1e1-e1e1-e1e1e1e1e1e1|f47ac10b-58cc-4372-a567-0e02b2c3d479|0  |
|0f05a8f1-2bdf-4be7-8c82-4c9b58f04898|193498    |e2e2e2e2-e2e2-e2e2-e2e2-e2e2e2e2e2e2|f47ac10b-58cc-4372-a567-0e02b2c3d480|19 |
|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|345498    |e3e3e3e3-e3e3-e3e3-e3e3-e3e3e3e3e3e3|f47ac10b-58cc-4372-a567-0e02b2c3d481|21 |
|1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6|245412    |e4e4e4e4-e4e4-e4e4-e4e4-e4e4e4e4e4e4|f47ac10b-58cc-4372-a567-0e02b2c3d482|34 |
|34538e39-cd2e-4641-8d24-3c94146e6f16|145467    |e5e5e5e5-e5e5-e5e5-e5e5-e5e5e5e5e5e5|f47ac10b-58cc-4372-a567-0e02b2c3d483|0  |
|fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b|581530    |e6e6e6e6-e6e6-e6e6-e6e6-e6e6e6e6e6e6|f47ac10b-58cc-4372-a567-0e02b2c3d484|19 |
|2e90f2b1-d237-47a6-96e8-6d01c0d78c3e|45100     |e7e7e7e7-e7e7-e7e7-e7e7-e7e7e7e7e7e7|f47ac10b-58cc-4372-a567-0e02b2c3d485|19 |
|acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9|565210    |e8e8e8e8-e8e8-e8e8-e8e8-e8e8e8e8e8e8|f47ac10b-58cc-4372-a567-0e02b2c3d486|21 |
|5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d|345310    |e9e9e9e9-e9e9-e9e9-e9e9-e9e9e9e9e9e9|f47ac10b-58cc-4372-a567-0e02b2c3d487|34 |
|27c59f76-5d26-4b82-a89b-59f8dfd2e9a7|341315    |eb0eb0eb-0eb0-0eb0-0eb0-0eb0eb0eb0eb|f47ac10b-58cc-4372-a567-0e02b2c3d488|21 |
|20dfef10-8f4e-45a1-82fc-123f4ab2a4a5|291315    |ec1ec1ec-1ec1-1ec1-1ec1-1ec1ec1ec1ec|f47ac10b-58cc-4372-a567-0e02b2c3d489|0  |
+------------------------------------+----------+------------------------------------+------------------------------------+---+

##### Export invoicing_df.csv

In [89]:
desktop_path = os.path.join(os.path.expanduser("~"), "Desktop", "invoicing_df.csv")

invoicing_df_export = invoicing_df.toPandas()
invoicing_df_export.to_csv(desktop_path, index=False, encoding="utf-8")

# Test 1: Distribution of Crate Type per Company
- Calculate the distribution of crate types per company (number of orders per type). Ensure to include unit tests to validate the correctness of your calculations.

In [79]:
# Step 1: Calculate the distribution of 'crate_type' by company (number of orders per crate type)
crate_distribution_df = orders_df.groupBy("company_name", "crate_type") \
    .agg(F.count("order_id").alias("order_count"))  # Group by company and crate type, then count the number of order_id per group

# Step 2: Display the result
crate_distribution_df.show(100, truncate=False)  # Show the first 100 rows of the distribution, with no truncation of columns

+---------------------+----------+-----------+
|company_name         |crate_type|order_count|
+---------------------+----------+-----------+
|Fresh Fruits Co      |Metal     |2          |
|healthy snacks c.o.  |Wood      |1          |
|Green World Ltd      |Plastic   |1          |
|Fresh Berries Inc    |Plastic   |1          |
|Seafood Global Inc   |Metal     |1          |
|Organic Veggies Ltd  |Plastic   |1          |
|Seafood Supplier GmbH|Metal     |3          |
|Farms Global Co      |Metal     |1          |
|Tropical Farms Ltd   |Wood      |1          |
|Fresh Fruits Co      |Wood      |1          |
|Veggie Haven Co      |Plastic   |1          |
|Healthy Choices Co   |Plastic   |1          |
|Healthy Snacks       |Plastic   |2          |
|Veggies Inc          |Plastic   |1          |
|Tropical Fruits Ltd  |Metal     |1          |
|Veggies Inc          |Wood      |2          |
|Seafood Supplier     |Plastic   |3          |
|Global Veggies Inc   |Metal     |1          |
|Tropical Fresh Co    |Wood      |1          |
|Global Seafood Co    |Metal     |1          |
|Veggies Unlimited    |Plastic   |1          |
|Healthy Organics Co  |Wood      |1          |
|Fresh Veggies Inc    |Metal     |1          |
|Green Veg Co         |Wood      |3          |
|Organic Farms        |Plastic   |1          |
|Fresh Veg Co         |Metal     |1          |
|Seafood Network Ltd  |Wood      |1          |
|Meat Express Ltd     |Metal     |1          |
|Fruits & Veggies Co  |Wood      |1          |
|Green Organic Co     |Metal     |1          |
|Organic Farms        |Metal     |2          |
|Healthy Eats Ltd     |Plastic   |1          |
|Farm Fresh Co        |Metal     |1          |
|Fruit Market Ltd     |Plastic   |1          |
|Healthy Snacks Co    |Wood      |1          |
|Veggie Partners Ltd  |Wood      |1          |
|Fresh Farms Ltd      |Wood      |1          |
|Organic Foods Ltd    |Wood      |1          |
|Healthy Greens Co    |Plastic   |1          |
|Farm Fresh Ltd       |Plastic   |1          |
|Meat Packers Ltd     |Plastic   |3          |
|Tropical Fruits Ltd  |Plastic   |2          |
|Green Farms Inc      |Metal     |1          |
|Fruit Kings Ltd      |Wood      |1          |
|Fresh Fruits Co      |Plastic   |2          |
|Fresh Fruits c.o     |Metal     |1          |
|Green Veg Co         |Plastic   |1          |
|Seafood Express      |Plastic   |1          |
+---------------------+----------+-----------+

In [80]:
# For unit tests, we can check the following:
# 1. Verify that the total number of orders by company is correct
# 2. Ensure that there are no null values in the "company_name" or "crate_type" fields

# Test 1: Verify that there are no null values in "company_name" or "crate_type"
assert crate_distribution_df.filter(F.col("company_name").isNull()).count() == 0, "There are null values in 'company_name'"
assert crate_distribution_df.filter(F.col("crate_type").isNull()).count() == 0, "There are null values in 'crate_type'"

# Test 2: Verify that the distribution is calculated correctly for a specific company
# Assume we want to check the distribution of 'crate_type' for "Fresh Fruits Co"
company_name = "Fresh Fruits Co"
expected_distribution = crate_distribution_df.filter(F.col("company_name") == company_name).collect()

# Ensure that the distribution for "Fresh Fruits Co" is calculated
assert len(expected_distribution) > 0, f"No distribution found for company {company_name}"

# Test 2: DataFrame of Orders with Full Name of the Contact
- Provide a DataFrame (df_1) containing the following columns:

  order_id:	The order_id field must contain the unique identifier of the order.
  contact_full_name:	The contact_full_name field must contain the full name of the contact. In case this information is not available, the placeholder "John Doe" should be utilized.

  Include unit tests to verify that the full names are correctly extracted and the placeholder is used appropriately.

In [81]:
from pyspark.sql import functions as F

# Step 1: Create the DataFrame df_1 with order_id and contact_full_name
df_1 = orders_df.select(
    "order_id",
    # If contact_name or contact_surname is empty or null, use "John Doe"
    F.when(F.col("contact_name").isNull() | (F.col("contact_name") == ""), "John Doe")  # Check if contact_name is null or empty
     .otherwise(F.concat(F.col("contact_name"), F.lit(" "), F.col("contact_surname"))).alias("contact_full_name")  # Concatenate contact_name and contact_surname
)

# Step 2: Display the result
df_1.show(100, truncate=False)

# Unit tests:

# Test 1: Verify that the 'contact_full_name' column does not contain any null values
assert df_1.filter(F.col("contact_full_name").isNull()).count() == 0, "There are null values in 'contact_full_name'"

# Test 2: Verify that the placeholder "John Doe" is used when names or surnames are null or empty
# Check that "John Doe" is used when 'contact_name' and 'contact_surname' are empty
placeholder_count = df_1.filter(F.col("contact_full_name") == "John Doe").count()

assert placeholder_count > 0, "The placeholder 'John Doe' was not used correctly"

+------------------------------------+-----------------+
|order_id                            |contact_full_name|
+------------------------------------+-----------------+
|f47ac10b-58cc-4372-a567-0e02b2c3d479|Curtis Jackson   |
|f47ac10b-58cc-4372-a567-0e02b2c3d480|Maria Theresa    |
|f47ac10b-58cc-4372-a567-0e02b2c3d481|Para Cetamol     |
|f47ac10b-58cc-4372-a567-0e02b2c3d482|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d484|John Krasinski   |
|f47ac10b-58cc-4372-a567-0e02b2c3d485|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d486|Jennifer Lopez   |
|f47ac10b-58cc-4372-a567-0e02b2c3d487|Liav Ichenbaum   |
|f47ac10b-58cc-4372-a567-0e02b2c3d488|Curtis Jackson   |
|f47ac10b-58cc-4372-a567-0e02b2c3d489|Anthony Pap      |
|f47ac10b-58cc-4372-a567-0e02b2c3d490|Natalia Romanov  |
|f47ac10b-58cc-4372-a567-0e02b2c3d491|Bruce Wayne      |
|f47ac10b-58cc-4372-a567-0e02b2c3d492|Clark Kent       |
|f47ac10b-58cc-4372-a567-0e02b2c3d493|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d494|Tony Stark       |
|f47ac10b-58cc-4372-a567-0e02b2c3d495|Diana Prince     |
|f47ac10b-58cc-4372-a567-0e02b2c3d496|Peter Parker     |
|f47ac10b-58cc-4372-a567-0e02b2c3d497|Steve Rogers     |
|f47ac10b-58cc-4372-a567-0e02b2c3d498|Natasha Romanov  |
|f47ac10b-58cc-4372-a567-0e02b2c3d499|Bruce Banner     |
|f47ac10b-58cc-4372-a567-0e02b2c3d500|Selina Kyle      |
|f47ac10b-58cc-4372-a567-0e02b2c3d501|Barry Allen      |
|f47ac10b-58cc-4372-a567-0e02b2c3d502|Clark Kent       |
|f47ac10b-58cc-4372-a567-0e02b2c3d503|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d504|Diana Prince     |
|f47ac10b-58cc-4372-a567-0e02b2c3d505|Bruce Wayne      |
|f47ac10b-58cc-4372-a567-0e02b2c3d506|Steve Rogers     |
|f47ac10b-58cc-4372-a567-0e02b2c3d507|Peter Parker     |
|f47ac10b-58cc-4372-a567-0e02b2c3d508|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d509|Tony Stark       |
|f47ac10b-58cc-4372-a567-0e02b2c3d510|Natalia Romanov  |
|f47ac10b-58cc-4372-a567-0e02b2c3d511|Bruce Banner     |
|f47ac10b-58cc-4372-a567-0e02b2c3d512|Curtis Jackson   |
|f47ac10b-58cc-4372-a567-0e02b2c3d513|Maria Theresa    |
|f47ac10b-58cc-4372-a567-0e02b2c3d514|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d515|Diana Prince     |
|f47ac10b-58cc-4372-a567-0e02b2c3d516|Bruce Wayne      |
|f47ac10b-58cc-4372-a567-0e02b2c3d517|Steve Rogers     |
|f47ac10b-58cc-4372-a567-0e02b2c3d518|Peter Parker     |
|f47ac10b-58cc-4372-a567-0e02b2c3d519|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d520|Curtis Jackson   |
|f47ac10b-58cc-4372-a567-0e02b2c3d521|Maria Theresa    |
|f47ac10b-58cc-4372-a567-0e02b2c3d522|Para Cetamol     |
|f47ac10b-58cc-4372-a567-0e02b2c3d523|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d524|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d525|John Krasinski   |
|f47ac10b-58cc-4372-a567-0e02b2c3d526|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d527|Jennifer Lopez   |
|f47ac10b-58cc-4372-a567-0e02b2c3d528|Liav Ichenbaum   |
|f47ac10b-58cc-4372-a567-0e02b2c3d529|Curtis Jackson   |
|f47ac10b-58cc-4372-a567-0e02b2c3d530|Anthony Pap      |
|f47ac10b-58cc-4372-a567-0e02b2c3d531|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d532|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d533|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d534|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d535|John Krasinski   |
|f47ac10b-58cc-4372-a567-0e02b2c3d536|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d537|Jennifer Lopez   |
|f47ac10b-58cc-4372-a567-0e02b2c3d538|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d539|John Doe         |
|f47ac10b-58cc-4372-a567-0e02b2c3d540|Curtis Jackson   |
+------------------------------------+-----------------+

# Test 3: DataFrame of Orders with Contact Address
- Provide a DataFrame (df_2) containing the following columns:

order_id: The order_id field must contain the unique identifier of the order.
contact_address:	The field for contact_address should adhere to the following information and format: "city name, postal code". In the event that the city name is not available, the placeholder "Unknown" should be used. Similarly, if the postal code is not known, the placeholder "UNK00" should be used.

Ensure to include unit tests to validate the address formatting and placeholder logic.

In [82]:
from pyspark.sql import functions as F

# Step 1: Create the DataFrame df_2 with order_id and contact_address
df_2 = orders_df.select(
    "order_id",
    # Constructing the contact_address
    F.concat_ws(
        ", ",  # Concatenate city and postal code with a comma separator
        F.when(F.col("contact_city").isNull() | (F.col("contact_city") == ""), "Unknown")  # If contact_city is null or empty, use "Unknown"
         .otherwise(F.col("contact_city")),  # Otherwise, use the actual contact_city value
        F.when(F.col("contact_cp").isNull() | (F.col("contact_cp") == ""), "UNK00")  # If contact_cp is null or empty, use "UNK00"
         .otherwise(F.col("contact_cp"))  # Otherwise, use the actual contact_cp value
    ).alias("contact_address")  # Alias the result as "contact_address"
)

# Step 2: Display the result
df_2.show(100, truncate=False)  # Show the first 100 rows without truncating values

# Unit tests:

# Test 1: Verify that there are no null values in the 'contact_address' column
assert df_2.filter(F.col("contact_address").isNull()).count() == 0, "There are null values in 'contact_address'"

# Test 2: Verify that the placeholder "Unknown" is used when the city is unavailable
unknown_city_count = df_2.filter(F.col("contact_address").contains("Unknown")).count()
assert unknown_city_count > 0, "The placeholder 'Unknown' was not used correctly for the city"

# Test 3: Verify that the placeholder "UNK00" is used when the postal code is unavailable
unk_cp_count = df_2.filter(F.col("contact_address").contains("UNK00")).count()
assert unk_cp_count > 0, "The placeholder 'UNK00' was not used correctly for the postal code"

+------------------------------------+-----------------------------+
|order_id                            |contact_address              |
+------------------------------------+-----------------------------+
|f47ac10b-58cc-4372-a567-0e02b2c3d479|Chicago, 12345               |
|f47ac10b-58cc-4372-a567-0e02b2c3d480|Calcutta, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d481|Frankfurt am Oder, 3934      |
|f47ac10b-58cc-4372-a567-0e02b2c3d482|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d484|New York, 1203               |
|f47ac10b-58cc-4372-a567-0e02b2c3d485|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d486|Esplugues de Llobregat, UNK00|
|f47ac10b-58cc-4372-a567-0e02b2c3d487|Tel Aviv, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d488|Chicago, 12345               |
|f47ac10b-58cc-4372-a567-0e02b2c3d489|Barcelona, 8023              |
|f47ac10b-58cc-4372-a567-0e02b2c3d490|Moscow, 65432                |
|f47ac10b-58cc-4372-a567-0e02b2c3d491|Gotham, UNK00                |
|f47ac10b-58cc-4372-a567-0e02b2c3d492|Metropolis, 10001            |
|f47ac10b-58cc-4372-a567-0e02b2c3d493|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d494|New York, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d495|Themyscira, 45789            |
|f47ac10b-58cc-4372-a567-0e02b2c3d496|Queens, 11432                |
|f47ac10b-58cc-4372-a567-0e02b2c3d497|Brooklyn, 11201              |
|f47ac10b-58cc-4372-a567-0e02b2c3d498|Moscow, 65432                |
|f47ac10b-58cc-4372-a567-0e02b2c3d499|San Francisco, 94102         |
|f47ac10b-58cc-4372-a567-0e02b2c3d500|Gotham, UNK00                |
|f47ac10b-58cc-4372-a567-0e02b2c3d501|Central City, 56321          |
|f47ac10b-58cc-4372-a567-0e02b2c3d502|Metropolis, UNK00            |
|f47ac10b-58cc-4372-a567-0e02b2c3d503|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d504|Themyscira, 45789            |
|f47ac10b-58cc-4372-a567-0e02b2c3d505|Gotham, UNK00                |
|f47ac10b-58cc-4372-a567-0e02b2c3d506|Brooklyn, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d507|Queens, 11432                |
|f47ac10b-58cc-4372-a567-0e02b2c3d508|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d509|New York, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d510|Moscow, 65432                |
|f47ac10b-58cc-4372-a567-0e02b2c3d511|San Francisco, 94102         |
|f47ac10b-58cc-4372-a567-0e02b2c3d512|Chicago, 12345               |
|f47ac10b-58cc-4372-a567-0e02b2c3d513|Calcutta, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d514|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d515|Themyscira, 45789            |
|f47ac10b-58cc-4372-a567-0e02b2c3d516|Gotham, UNK00                |
|f47ac10b-58cc-4372-a567-0e02b2c3d517|Brooklyn, 11201              |
|f47ac10b-58cc-4372-a567-0e02b2c3d518|Queens, 11432                |
|f47ac10b-58cc-4372-a567-0e02b2c3d519|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d520|Chicago, 12345               |
|f47ac10b-58cc-4372-a567-0e02b2c3d521|Calcutta, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d522|Frankfurt am Oder, 3934      |
|f47ac10b-58cc-4372-a567-0e02b2c3d523|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d524|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d525|New York, 1203               |
|f47ac10b-58cc-4372-a567-0e02b2c3d526|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d527|Esplugues de Llobregat, UNK00|
|f47ac10b-58cc-4372-a567-0e02b2c3d528|Tel Aviv, UNK00              |
|f47ac10b-58cc-4372-a567-0e02b2c3d529|Chicago, 12345               |
|f47ac10b-58cc-4372-a567-0e02b2c3d530|Barcelona, 8023              |
|f47ac10b-58cc-4372-a567-0e02b2c3d531|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d532|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d533|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d534|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d535|New York, 1203               |
|f47ac10b-58cc-4372-a567-0e02b2c3d536|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d537|Esplugues de Llobregat, UNK00|
|f47ac10b-58cc-4372-a567-0e02b2c3d538|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d539|Unknown, UNK00               |
|f47ac10b-58cc-4372-a567-0e02b2c3d540|Chicago, 12345               |
+------------------------------------+-----------------------------+

# Test 4: Calculation of Sales Team Commissions
The Sales Team requires your assistance in computing the commissions. It is possible for multiple salespersons to be associated with a single order, as they may have participated in different stages of the order. The salesowners field comprises a ranked list of the salespeople who have ownership of the order. The first individual on the list represents the primary owner, while the subsequent individuals, if any, are considered co-owners who have contributed to the acquisition process. The calculation of commissions follows a specific procedure:

- Main Owner: 6% of the net invoiced value.
- Co-owner 1 (second in the list): 2.5% of the net invoiced value.
- Co-owner 2 (third in the list): 0.95% of the net invoiced value.
- The rest of the co-owners do not receive anything.

Provide a list of the distinct sales owners and their respective commission earnings. The list should be sorted in order of descending performance, with the sales owners who have generated the highest commissions appearing first.

Hint: Raw amounts are represented in cents. Please provide euro amounts with two decimal places in the results.

Include unit tests to verify the correctness of the commission calculations and sorting order.

In [83]:
from pyspark.sql.functions import col, explode, split

# Step 1. Perform an inner join between invoices_df and orders_df using the 'order_id'
joined_df = invoicing_df.join(orders_df, invoicing_df["orderId"] == orders_df["order_id"], how="inner")
# The join is performed on the 'orderId' column from 'invoicing_df' and 'order_id' from 'orders_df'

# Step 2. Split 'salesowners' by commas to create an array and then explode the array into separate rows
joined_df = joined_df.select(
    col("orderId").alias("order_id"),  # Keep the 'order_id' column
    col("grossValue").cast("double").alias("gross_value"),  # Cast the grossValue to double
    split(col("salesowners"), ",").alias("salesowners"),  # Split 'salesowners' by commas into an array
    explode(split(col("salesowners"), ", ")).alias("salesowner"),  # Explode the array to create separate rows for each salesowner
    col("vat"),
    (col("grossValue") * ((100 - col("vat")) / 100)).cast("double").alias("net_value")  # Calculate the net value by subtracting VAT from the gross value
)

# Step 3: Display the first 100 rows of the resulting DataFrame without truncating the values
joined_df.show(100, truncate=False)

+------------------------------------+-----------+-----------------------------------------------------------------+-----------------+---+------------------+
|order_id                            |gross_value|salesowners                                                      |salesowner       |vat|net_value         |
+------------------------------------+-----------+-----------------------------------------------------------------+-----------------+---+------------------+
|f47ac10b-58cc-4372-a567-0e02b2c3d479|324222.0   |[Leonard Cohen,  Luke Skywalker,  Ammy Winehouse]                |Leonard Cohen    |0  |324222.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d479|324222.0   |[Leonard Cohen,  Luke Skywalker,  Ammy Winehouse]                |Luke Skywalker   |0  |324222.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d479|324222.0   |[Leonard Cohen,  Luke Skywalker,  Ammy Winehouse]                |Ammy Winehouse   |0  |324222.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d480|193498.0   |[Luke Skywalker,  David Goliat,  Leon Leonov]                    |Luke Skywalker   |19 |156733.38         |
|f47ac10b-58cc-4372-a567-0e02b2c3d480|193498.0   |[Luke Skywalker,  David Goliat,  Leon Leonov]                    |David Goliat     |19 |156733.38         |
|f47ac10b-58cc-4372-a567-0e02b2c3d480|193498.0   |[Luke Skywalker,  David Goliat,  Leon Leonov]                    |Leon Leonov      |19 |156733.38         |
|f47ac10b-58cc-4372-a567-0e02b2c3d481|345498.0   |[Luke Skywalker]                                                 |Luke Skywalker   |21 |272943.42         |
|f47ac10b-58cc-4372-a567-0e02b2c3d482|245412.0   |[David Goliat,  Leonard Cohen]                                   |David Goliat     |34 |161971.92         |
|f47ac10b-58cc-4372-a567-0e02b2c3d482|245412.0   |[David Goliat,  Leonard Cohen]                                   |Leonard Cohen    |34 |161971.92         |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|145467.0   |[Chris Pratt,  David Henderson,  Marianov Merschik,  Leon Leonov]|Chris Pratt      |0  |145467.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|145467.0   |[Chris Pratt,  David Henderson,  Marianov Merschik,  Leon Leonov]|David Henderson  |0  |145467.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|145467.0   |[Chris Pratt,  David Henderson,  Marianov Merschik,  Leon Leonov]|Marianov Merschik|0  |145467.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d483|145467.0   |[Chris Pratt,  David Henderson,  Marianov Merschik,  Leon Leonov]|Leon Leonov      |0  |145467.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d484|581530.0   |[Leonard Cohen,  David Henderson]                                |Leonard Cohen    |19 |471039.30000000005|
|f47ac10b-58cc-4372-a567-0e02b2c3d484|581530.0   |[Leonard Cohen,  David Henderson]                                |David Henderson  |19 |471039.30000000005|
|f47ac10b-58cc-4372-a567-0e02b2c3d485|45100.0    |[Markus SÃ¶der,  Ammy Winehouse]                                  |Markus SÃ¶der     |19 |36531.0           |
|f47ac10b-58cc-4372-a567-0e02b2c3d485|45100.0    |[Markus SÃ¶der,  Ammy Winehouse]                                  |Ammy Winehouse   |19 |36531.0           |
|f47ac10b-58cc-4372-a567-0e02b2c3d486|565210.0   |[David Henderson,  Leonard Cohen,  Leon Leonov]                  |David Henderson  |21 |446515.9          |
|f47ac10b-58cc-4372-a567-0e02b2c3d486|565210.0   |[David Henderson,  Leonard Cohen,  Leon Leonov]                  |Leonard Cohen    |21 |446515.9          |
|f47ac10b-58cc-4372-a567-0e02b2c3d486|565210.0   |[David Henderson,  Leonard Cohen,  Leon Leonov]                  |Leon Leonov      |21 |446515.9          |
|f47ac10b-58cc-4372-a567-0e02b2c3d487|345310.0   |[Yuri Gagarin,  David Goliat,  David Henderson]                  |Yuri Gagarin     |34 |227904.6          |
|f47ac10b-58cc-4372-a567-0e02b2c3d487|345310.0   |[Yuri Gagarin,  David Goliat,  David Henderson]                  |David Goliat     |34 |227904.6          |
|f47ac10b-58cc-4372-a567-0e02b2c3d487|345310.0   |[Yuri Gagarin,  David Goliat,  David Henderson]                  |David Henderson  |34 |227904.6          |
|f47ac10b-58cc-4372-a567-0e02b2c3d488|341315.0   |[Ammy Winehouse,  Marie Curie,  Chris Pratt]                     |Ammy Winehouse   |21 |269638.85000000003|
|f47ac10b-58cc-4372-a567-0e02b2c3d488|341315.0   |[Ammy Winehouse,  Marie Curie,  Chris Pratt]                     |Marie Curie      |21 |269638.85000000003|
|f47ac10b-58cc-4372-a567-0e02b2c3d488|341315.0   |[Ammy Winehouse,  Marie Curie,  Chris Pratt]                     |Chris Pratt      |21 |269638.85000000003|
|f47ac10b-58cc-4372-a567-0e02b2c3d489|291315.0   |[Marianov Merschik,  Vladimir Chukov,  Luke Skywalker]           |Marianov Merschik|0  |291315.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d489|291315.0   |[Marianov Merschik,  Vladimir Chukov,  Luke Skywalker]           |Vladimir Chukov  |0  |291315.0          |
|f47ac10b-58cc-4372-a567-0e02b2c3d489|291315.0   |[Marianov Merschik,  Vladimir Chukov,  Luke Skywalker]           |Luke Skywalker   |0  |291315.0          |
+------------------------------------+-----------+-----------------------------------------------------------------+-----------------+---+------------------+

In [84]:
# Step 7: Assign roles based on the position of 'salesowner' in the list
role_df = joined_df.withColumn(
    "role", 
    when(col("salesowner") == col("salesowners").getItem(0), "main_owner")  # First owner
    .when(col("salesowner") == col("salesowners").getItem(1), "co_owner_1")  # Second owner
    .when(col("salesowner") == col("salesowners").getItem(2), "co_owner_2")  # Third owner
    .otherwise("no_commission")  # For all other owners
)

# Step 8: Calculate commissions based on roles
commission_df = role_df.withColumn(
    "commission", 
    when(col("role") == "main_owner", col("net_value") * 0.06)  # 6% for the main owner
    .when(col("role") == "co_owner_1", col("net_value") * 0.025)  # 2.5% for the first co-owner
    .when(col("role") == "co_owner_2", col("net_value") * 0.0095)  # 0.95% for the second co-owner
    .otherwise(0)  # No commission for other roles
)

# Step 9: Sum commissions by 'salesowner' and order in descending order
result_df = commission_df.groupBy("salesowner") \
    .agg(F.sum("commission").alias("total_commission")) \
    .orderBy(col("total_commission").desc())  # Sort in descending order of total commission

# Show the result with total commissions by 'salesowner'
result_df.show(100, truncate=False)

+-----------------+------------------+
|salesowner       |total_commission  |
+-----------------+------------------+
|Leonard Cohen    |47715.678         |
|David Henderson  |26790.954         |
|Luke Skywalker   |25780.608         |
|Marianov Merschik|17478.899999999998|
|Ammy Winehouse   |16178.331000000002|
|Yuri Gagarin     |13674.276         |
|David Goliat     |9718.315200000001 |
|Chris Pratt      |8728.02           |
|Markus SÃ¶der     |2191.86           |
|Leon Leonov      |0.0               |
|Marie Curie      |0.0               |
|Vladimir Chukov  |0.0               |
+-----------------+------------------+

In [85]:
# Step 10: Convert to euros with two decimal places
# We divide the 'total_commission' by 100 to convert from cents to euros and round the result to two decimal places.
result_df = result_df.withColumn("total_commission", round(col("total_commission") / 100, 2))

# Display the result with the total commissions in euros
result_df.show(100, truncate=False)

+-----------------+----------------+
|salesowner       |total_commission|
+-----------------+----------------+
|Leonard Cohen    |477.16          |
|David Henderson  |267.91          |
|Luke Skywalker   |257.81          |
|Marianov Merschik|174.79          |
|Ammy Winehouse   |161.78          |
|Yuri Gagarin     |136.74          |
|David Goliat     |97.18           |
|Chris Pratt      |87.28           |
|Markus SÃ¶der     |21.92           |
|Leon Leonov      |0.0             |
|Marie Curie      |0.0             |
|Vladimir Chukov  |0.0             |
+-----------------+----------------+

In [86]:
# Step 11: Collect the results into a list
result = result_df.collect()

# Step 12: Ensure the commissions are positive (or zero)
# Loop through each row to check if 'total_commission' is greater than or equal to zero
for row in result:
    assert row["total_commission"] >= 0, f"Negative commission found for {row['salesowner']}: {row['total_commission']}"

# Step 13: Verify that the total commission values by 'salesowner' are consistent
# Assuming the input data is correct, we just check the general logic
for i in range(1, len(result)):
    # Check that 'salesowner' is not null
    assert result[i]["salesowner"] is not None, "'salesowner' cannot be null"
    
    # Check that 'total_commission' is not null
    assert result[i]["total_commission"] is not None, "'total_commission' cannot be null"
    
    # If there are any null values, they must be processed correctly by the system
    assert isinstance(result[i]["salesowner"], str), f"The value of 'salesowner' for {result[i]['salesowner']} is not a string"
    assert isinstance(result[i]["total_commission"], (int, float)), f"The value of 'total_commission' for {result[i]['salesowner']} is not numeric"

# Step 14: Verify that the aggregation and sorting are correct
# Ensure the total commission for each 'salesowner' is sorted in descending order
for i in range(1, len(result)):
    assert result[i-1]["total_commission"] >= result[i]["total_commission"], \
        f"The 'salesowner' {result[i-1]['salesowner']} should have a commission greater than or equal to {result[i]['salesowner']}"

# Test 5: DataFrame of Companies with Sales Owners
Provide a DataFrame (df_3) containing the following columns:

- company_id:	The company_id field must contain the unique identifier of the company.
- company_name:	The company_name field must contain the name of the company.
- list_salesowners:	The list_salesowners field should contain a unique and comma-separated list of salespeople who have participated in at least one order of the company. 

Please ensure that the list is sorted in ascending alphabetical order of the first name.

Hint: Consider the possibility of duplicate companies stored under multiple IDs in the database. Take this into account while devising a solution to this exercise.

Ensure to include unit tests to validate the uniqueness and sorting of the sales owners list, and the handling of duplicate companies.

In [87]:
from pyspark.sql import functions as F

# Step 1: Split the 'salesowners' string into a list and explode it into individual rows for each salesowner
df_3 = orders_df \
    .withColumn("salesowners_list", F.split(orders_df["salesowners"], ",")) \
    .withColumn("salesowners_list", F.explode("salesowners_list")) \
    .select("company_id", "company_name", "salesowners_list") \
    .withColumn("salesowners_list", F.trim("salesowners_list")) \
    .distinct()  # Remove duplicate entries for the same company_id and salesowner

# Step 2: Group by 'company_id' and aggregate company_name and salesowners_list
df_3 = df_3 \
    .groupBy("company_id") \
    .agg(
        F.concat_ws(", ", F.collect_set("company_name")).alias("company_name"),  # Concatenate company names, removing duplicates
        F.collect_list("salesowners_list").alias("salesowners_list")  # Collect all salesowners for each company_id into a list
    )

# Step 3: Sort the salesowners_list and remove any duplicates
df_3 = df_3 \
    .withColumn("salesowners_list", F.array_sort(F.array_distinct("salesowners_list")))  # Sort the salesowners list and remove duplicates

# Step 4: Convert the salesowners_list into a comma-separated string
df_3 = df_3 \
    .withColumn("list_salesowners", F.concat_ws(", ", "salesowners_list"))  # Concatenate the salesowners into a single string

# Step 5: Select the final columns and sort the result by company_name
df_3 = df_3 \
    .select("company_id", "company_name", "list_salesowners") \
    .sort("company_name")  # Sort the DataFrame by company_name in ascending order

# Display the result
df_3.show(100, truncate=False)

+------------------------------------+--------------------------------------+---------------------------------------------------------------------------+
|company_id                          |company_name                          |list_salesowners                                                           |
+------------------------------------+--------------------------------------+---------------------------------------------------------------------------+
|8f1c5d4a-9045-4be5-bb38-7f587f478a92|Farm Fresh Co                         |Ammy Winehouse, Chris Pratt, Leonard Cohen                                 |
|2122bb43-1a5e-4f8d-8bb9-4987c9d4a8df|Farm Fresh Ltd                        |Leonard Cohen, Marie Curie, Yuri Gagarin                                   |
|4a7561b1-1de1-420a-93ed-2c12a5bbd1ab|Farms Global Co                       |David Goliat, Leonard Cohen                                                |
|4a98d9ec-65f6-438f-9a0c-0d9e1a6f7c65|Fresh Berries Inc                     |Ammy Winehouse, Leonard Cohen                                              |
|5c17d142-4b21-4293-8a34-8dcd2bc24f82|Fresh Farms Ltd                       |Chris Pratt, David Goliat, Marie Curie                                     |
|1e2b47e6-499e-41c6-91d3-09d12dddfbbd|Fresh Fruits Co, Fresh Fruits c.o     |Ammy Winehouse, David Henderson, Leon Leonov, Leonard Cohen, Luke Skywalker|
|1b21f4a3-22d2-43f2-ae3f-e254d282d9e0|Fresh Veg Co                          |David Henderson, Leonard Cohen                                             |
|f31b4d26-5083-4b7a-bef9-3f89c7c95758|Fresh Veggies Inc                     |Marie Curie, Yuri Gagarin                                                  |
|063a7dc7-b93a-4f38-b7f0-0e30b5b217ac|Fruit Kings Ltd                       |David Goliat, Leon Leonov                                                  |
|9851fa89-7b7a-4ed5-89f7-65c20599e0d2|Fruit Market Ltd                      |Ammy Winehouse, David Henderson, Leonard Cohen                             |
|6d3f48b2-4e3c-49d5-b437-735d537bb2a6|Fruits & Veggies Co                   |Chris Pratt, Yuri Gagarin                                                  |
|d4e31b02-ea50-46b7-a8a1-43fdbb06e3fa|Global Seafood Co                     |Leonard Cohen, Yuri Gagarin                                                |
|c672f19b-f08b-4e11-b0f5-791ea8273d85|Global Veggies Inc                    |Chris Pratt, Yuri Gagarin                                                  |
|1f06b236-f6b5-4f48-8c1c-7b55b5c7d6f7|Green Farms Inc                       |Ammy Winehouse, Leon Leonov                                                |
|f712dc3d-4681-4ec6-9b76-bf47b4ccf5b2|Green Organic Co                      |Chris Pratt, Leon Leonov                                                   |
|fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b|Green Veg Co                          |Ammy Winehouse, Chris Pratt, David Henderson, Leonard Cohen, Luke Skywalker|
|012f20c6-00d5-4f45-999f-12e7639db623|Green World Ltd                       |Chris Pratt, David Goliat                                                  |
|d66c0c95-1f86-4d55-9245-bfa98c0f8dcb|Healthy Choices Co                    |Ammy Winehouse, Chris Pratt, Leon Leonov                                   |
|0d09ae2b-d9a5-4d67-bb97-963be9379b4e|Healthy Eats Ltd                      |Ammy Winehouse, Yuri Gagarin                                               |
|2b42dcb7-bc74-4e56-93f8-7612d5061d5f|Healthy Greens Co                     |Ammy Winehouse, Leonard Cohen, Marie Curie                                 |
|9e25a3d7-46b8-4c9d-b805-2f6c3be6f5a0|Healthy Organics Co                   |Ammy Winehouse, Leon Leonov, Marie Curie                                   |
|27c59f76-5d26-4b82-a89b-59f8dfd2e9a7|Healthy Snacks                        |Ammy Winehouse, Chris Pratt, Marie Curie                                   |
|f3b70f8d-bb74-4d96-b1f2-88e5c0c68b14|Meat Express Ltd                      |Chris Pratt, Marie Curie, Yuri Gagarin                                     |
|34538e39-cd2e-4641-8d24-3c94146e6f16|Meat Packers Ltd                      |Chris Pratt, David Henderson, Leon Leonov, Marianov Merschik               |
|acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9|Organic Farms                         |Chris Pratt, David Henderson, Leon Leonov, Leonard Cohen                   |
|8347edb3-c4e5-4fc1-8e0c-1fcf9f0d02b9|Organic Foods Ltd                     |Chris Pratt, Leon Leonov, Leonard Cohen                                    |
|7d4b212e-29e5-4f2a-9b28-745a3c7f0b60|Organic Veggies Ltd                   |Ammy Winehouse, David Henderson, Leonard Cohen                             |
|a32972e9-d9ad-4180-9b79-4d29a7d22e10|Seafood Express                       |Leonard Cohen, Yuri Gagarin                                                |
|992c1e6e-7740-4116-9d16-7c12b9e498d3|Seafood Global Inc                    |David Henderson, Marie Curie, Yuri Gagarin                                 |
|0b8755d4-3d28-4039-b9a7-b30cb5ff02ea|Seafood Network Ltd                   |Ammy Winehouse, David Goliat, Leon Leonov                                  |
|1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6|Seafood Supplier                      |David Goliat, Leonard Cohen                                                |
|2e90f2b1-d237-47a6-96e8-6d01c0d78c3e|Seafood Supplier GmbH                 |Ammy Winehouse, Leonard Cohen, Markus SÃ¶der                                |
|6cbfd9da-14d3-4a56-b928-3a1e2c71ef83|Tropical Farms Ltd                    |David Goliat, Leonard Cohen                                                |
|83df789a-b30c-4a1b-8e67-1f512bfa20c7|Tropical Fresh Co                     |Ammy Winehouse, David Henderson, Leonard Cohen                             |
|5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d|Tropical Fruits Ltd                   |David Goliat, David Henderson, Yuri Gagarin                                |
|7f80fdd9-1c1a-4ad4-9348-19e6b2b44bde|Veggie Haven Co                       |Ammy Winehouse, Chris Pratt, Leonard Cohen                                 |
|4c0e716f-c8b1-4ad5-b612-92f5a1d6be79|Veggie Partners Ltd                   |Chris Pratt, Leon Leonov                                                   |
|0f05a8f1-2bdf-4be7-8c82-4c9b58f04898|Veggies Inc                           |David Goliat, Leon Leonov, Leonard Cohen, Luke Skywalker                   |
|9b31b19f-69a2-4aeb-8f6e-f4b8d2f9c12a|Veggies Unlimited                     |Ammy Winehouse, Leon Leonov                                                |
|20dfef10-8f4e-45a1-82fc-123f4ab2a4a5|healthy snacks c.o., Healthy Snacks Co|Luke Skywalker, Marianov Merschik, Vladimir Chukov                         |
+------------------------------------+--------------------------------------+---------------------------------------------------------------------------+

In [88]:
# Test 1: Verify that salesowners are unique for each company
for row in df_3.collect():
    salesowners_list = row["list_salesowners"].split(",")  # Split the list of salesowners into individual items
    assert len(salesowners_list) == len(set(salesowners_list)), f"Duplicates found in the salesowner list for {row['company_name']}."  # Check if there are any duplicates

# Test 2: Verify that the list of salesowners is sorted alphabetically
for row in df_3.collect():
    salesowners_list = row["list_salesowners"].split(", ")  # Split the salesowners string into a list
    sorted_salesowners_list = sorted(salesowners_list)  # Sort the list alphabetically
    assert salesowners_list == sorted_salesowners_list, f"Salesowners are not sorted alphabetically for {row['company_name']}."  # Ensure the list is sorted

# Test 3: Verify that there is no duplication of companies
# Count the occurrences of each company_id in the DataFrame
duplicate_companies = df_3.groupBy("company_id").count().filter("count > 1")  # Group by company_id and count occurrences

# Verify that there are no duplicate companies
assert duplicate_companies.count() == 0, "Duplicate companies found in the DataFrame."  # Ensure no duplicates exist